.container {
    margin-top: 25px;
}

/* Headings */
.conference-top-card-heading {
    font-family: 'DiodrumBold', sans-serif;
    color: #0C0C9C;
}

.bottom-card-heading {
    font-family: 'DiodrumBold', sans-serif;
    color: #0C0C9C;
    text-align: right;
    margin-bottom: -16px;
}

/* Card Styles */
.conferenceCustomCard {
    height: 250px;
    /*width: auto;*/
    border: none;
    background-color: rgb(237, 237, 237);
    padding: 25px;
    margin-top: 25px;
    border-bottom: 10px solid #0C0C9C;
    border-radius: 0;
}

.customCard2 {
    height: 100px;
    width: auto;
    border: none;
    background-color: rgb(237, 237, 237);
    display: flex;
    align-items: center;
    text-align: right;
    justify-content: center;
    margin-top: 35px;
    border-right: 10px solid #5F00B8;
    border-radius: 0;
}

/* Text Styles */
/* Text Styles with Media Queries */
.card-text {
    font-family: 'DiodrumRegular', sans-serif;
    float: left;
    font-size: 10px; /* Default size for medium screens */

    @media (max-width: 576px) {
        font-size: 12px; /* Slightly smaller for mobile */
    }

    /* For larger screens */
    @media (min-width: 768px) {
        font-size: 16px;
    }

    @media (min-width: 1199px) {
        font-size: 16px; /* Even larger for wide desktop screens */
    }

    @media (min-width: 1200px) {
        font-size: 18px; /* Even larger for wide desktop screens */
    }
}


.bottom-card-text {
    flex: 1;
    font-family: 'DiodrumRegular', sans-serif;
    text-align: right;
    margin-right:10px
}

.customCard2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 10px; /* Adjust as needed */
}

/* Image Styles */
img {
    float: right;
}




