.custom-navbar-bg {
    background: linear-gradient(to right, #2a0d8f, #662bce);
    padding: 45px;

}

.custom-item {
    width: 150px;
    margin: 0;
    text-align: center;
    border-radius: 5rem;
}

.custom-item:hover {
    border-radius: 5rem;
    background-color: rgba(202, 202, 202, 0.29);
}

.custom-hover-bg {
    background-color: rgba(210, 210, 210, 0.27);
}

.custom-active-bg {
    /*background-color: #FD853A !important;*/
    color: #ffffff !important;
    font-family: "DiodrumBold", serif;
    /*font-weight: bold !important;*/
}
