.customCard {
    height: 290px;
    border: none;
}

.navigationArrows {
    width: 30px;
    height: 40px;
}

.custom-heading {
    text-align: right;
    /*margin-right: 13%;*/
    color: rgb(13, 13, 157);
    font-family: "DiodrumBold", serif;
}

@media only screen and(max-width: 768px) {
    .custom-heading {
        margin-right: 6%;
    }

    .customCard {
        height: 265px;
    }
}

.custom-style {
    position: absolute;
    bottom: 10px;
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

@media only screen and (max-width: 668px) {
    .custom-style {
        bottom: 9px;
    }
}

